.tab-pane *.tab-header-background {-fx-background-color:rgb(220,220,220)}
#createtab, #wc, .button1 {-fx-background-color:transparent}
#xbtn {-fx-background-color:transparent;-fx-text-fill:black;-fx-border-radius:0px;-fx-background-radius:0px}
.tab {-fx-background-insets: 0 1 0 1,0,0;-fx-background-color:rgb(222,222,222);-fx-margin: 0 0 200 0;-fx-border-insets:5px;-fx-padding:5px}
.tab:selected {-fx-background-insets: 0 1 0 1,0,0;-fx-background-color:#fcfcfc;-fx-text-fill:black;-fx-focus-color:transparent;-fx-faint-focus-color:transparent}
.tab:selected .tab-label {-fx-text-fill:black;-fx-border-color:transparent;-fx-font-size:12px}
.tab-label {-fx-alignment:CENTER;-fx-font-size:12px;-fx-margin:12px}
#urlfield {-fx-background-color:rgba(255,255,255,0.5);-fx-border:solid;-fx-border-color:rgba(80,80,80,0.1)}
#urlbar {-fx-padding:6px;-fx-background-color:rgb(252,252,252)}
#bkb {-fx-padding:0px}
#bk {-fx-background-color:transparent;-fx-border:solid;-fx-border-color:rgba(10,100,100,0.1);-fx-background-radius:0px;-fx-padding:0 10 0 10}
.scroll-pane {-fx-background-color:transparent}