.tab-pane *.tab-header-background {-fx-background-color:orange;}
#createtab {-fx-background-color:transparent;}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-color: #e6e6e6;
    -fx-margin: 0 0 200 0;
    -fx-border-insets: 5px;
}

.tab-label { 
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
    -fx-margin: 12px;
}

.button {
    -fx-background-color:transparent;
}

#urlfield {
    -fx-background-color:rgba(255,255,255,0.5);
    -fx-border:solid;
    -fx-border-color:rgba(1,1,1,0.1);
}

#urlbar {
    -fx-padding:5px;
    -fx-background-color:#e2e2e2;
}